{% extends "proj.base.html.twig" %}

{% block title %}Project Kmom10 Database{% endblock %}

{% block body %}
    <h1>Project Kmom10 Database</h1>
    <div class="wrapper">
    	<div class="wrapper-sidebar">
    	    <ul>
			    <li><a href="https://github.com/dbwebb-se/mvc/">Kursens Git-repo</a></li>
			    <li><a href="https://github.com/guschenxi/BTH_DV1608_mvc/tree/master">Mitt Git-repo</a></li>
			</ul>
		</div>
    	<div class="wrapper-content">
			<p>About Poject Database</p>
			Skapa en sida proj/about/database, och lägg till

En bild på ett ER diagram av tabellerna.
För varje tabell beskriv i en mening vad som sparas i tabellen.
Förklara hur du löste eventuella relationer mellan tabellerna.
Berätta om du använde SQLite eller någon annan databas.
Berätta om du gjorde enhetstester mot databasen.
Berätta om/hur du lyckades med enhetstester på Scrutinizer med databasen.
Berätta med egna ord (cirka 15 meningar) om hur du ser på fördelar, nackdelar, likheter och skillnader mellan ORM och det sätt vi jobbade med databasen i databaskursen.

    	</div>
	</div>
{% endblock %}
