{% extends "game.base.html.twig" %}

{% block title %}Kortspel (Kmom03){% endblock %}

{% block body %}

<h1>Kortspel Tjugoett Dokumentation</h1>

<h2>Flödesschema</h2>
<p>
	<img src={{ asset('img/flowchart.png') }} alt="flowchart">
</p>

{% apply markdown_to_html %}
## Psuedokod - avgör vem vinner i varje runda

Min sum = sum(all cards) when ace = 1

Max sum = sum(all cards) when ace = 14

if player's min sum > 21, winner = bank

else if player's min sum = 21 or player's max sum = 21, winner = player

else if banken's min sum > 21, winner = player

else:

 > if player's max sum <= 21, player's score = max sum, else player's score = min sum
 
 > if banken's max sum <= 21, banken's score = max sum, else banken's score = min sum
 
 > if banken's score = player's score, winner = banken, else winner = player
 
winner's score = winner's score + 1
  
{% endapply %}
<h2>Klasserna</h2>
<p>
Jag åter använder följande klasser från förra uppgiften.
</p>
<li>Card: representerar varje spelkort, dess "suit" och "rank"</li>
<li>CardDeckNoJoker: innehåller Card; genererar och representerar alla 52 kort i korspelet</li>
<li>CardHand: innehåller Card; representerar en hand som drar kort</li>
<p>Jag har skapat 2 yttligare klass för att genomföra denna uppgift.</p>
<li>Player: ärver CardHand fast med 2 yttligare egenskaper name och score; representerar varje spelare</li>
<li>Game: innehåller Card, CardDeckNoJoker, Player; representerar allt i spelet och har många metoder</li>
{% endblock %}
