{% extends 'card.base.html.twig' %}

{% block body %}
    <h2>Drawn Cards:</h2>
    {% for card in drawnCards %}
        <i class="card-pic {{ card.getAsString }}"></i>
    {% endfor %}
    <p>Remaining Cards: {{ remainingCards }}</p>
    <p>Amount of Cards in Hand: {{ cardsInHand }}</p>
    
    {{ include('card/flash.html.twig') }}
{% endblock %}
