{% extends "book.base.html.twig" %}

{% block title %}Library (Kmom05){% endblock %}

{% block body %}

<h1>Delete a book<h1>
<form method="post" action="/library/delete/">
        <label for='book_id'>Book ID:</label>
		<input type="number" name="book_id" placeholder="book ID" required>
		<br>
		<br>
		<input type="submit" name="do_it" value="Delete book">
</form>

<p>
</p>

{% endblock %}
