{% extends 'book.base.html.twig' %}

{% block title %}Library Home{% endblock %}

{% block body %}

    <h1>Hello Library User ✅</h1>


            <ul>
				<li><a href="{{ path('book_create') }}">Add Book</a></li>
				<li><a href="{{ path('book_show_all') }}">Shwo All Books</a></li>
				<li><a href="{{ path('book_delete') }}">Delete Book</a></li>
				<li>Or... Choose a book to update book information</li>
			</ul>

{% endblock %}
