{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Home</h1>
    <p>Student xich23</p>
    <img src="{{ asset('img/me.webp') }}" alt="my profile picture">
{% endblock %}
