{# templates/lucky_number.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Random number{% endblock %}

{% block body %}
    <h1>Random number</h1>

    <p>This is the current magic number: <span class="random-number">{{ number }}</span></p>
{% endblock %}
