{# templates/lucky_number.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Report</h1>
    <p>Welcome to my report page.</p>
<div class="wrapper">    
	<div class="report-sidebar">
		<ul>
		    <li><a href="#kmom01">Kmom01</a></li>
		    <li><a href="#kmom02">Kmom02</a></li>
		    <li><a href="#kmom03">Kmom03</a></li>
		    <li><a href="#kmom04">Kmom04</a></li>
		</ul>
	</div>
	<div class="report-content">
		<h2 id = "kmom01">Kmom01</h2>
		<p>Text</p>
		
		<h2 id = "kmom02">Kmom03</h2>
		<p>Text</p>
		
		<h2 id = "kmom03">Kmom03</h2>
		<p>Text</p>

		<h2 id = "kmom04">Kmom04</h2>
		<p>Text</p>
	</div>
</div>
{% endblock %}
